{% extends 'base.html' %}
{% block title %}Cocktail Recipes{% endblock %}
{% block content %}
    <h2>Cocktail Recipes</h2>
    <div class="recipe-container">
        {% for recipe in recipes %}
        <div class="recipe dessert-recipe">
            {% if recipe.image %}
                <img src="{{ url_for('static', filename='images/' + recipe.image) }}" alt="{{ recipe.title }}">
            {% else %}
                <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="{{ recipe.title }}">
            {% endif %}
            <div class="recipe-details">
                <p class="likes">Likes: {{ recipe.likes }}</p>
                <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}">
                    <h3>{{ recipe.title }}</h3>
                </a>
                <p>Recipe by: {{ recipe.user.username }}</p>
                <p>{{ recipe.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
