<!-- dessert.html -->
{% extends 'base.html' %}
{% block title %}Dessert Recipes{% endblock %}
{% block content %}
    <h2>Dessert Recipes</h2>
    <div class="recipe-container">
        {% for recipe in recipes %}
        <div class="recipe dessert-recipe">
            <img src="{{ url_for('static', filename='images/' + recipe.image) }}" alt="{{ recipe.title }}">
            <div class="recipe-details">
                <p class="likes">Likes: {{ recipe.likes }}</p>
                <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}">
                    <h3>{{ recipe.title }}</h3>
                </a>
                <p>{{ recipe.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
