{% extends 'base.html' %}
{% block title %}Edit Recipe{% endblock %}
{% block content %}
    <h2>Edit Recipe</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% for error in form.description.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.ingredients.label }} {{ form.ingredients(class="form-control", style="height: 200px;") }}
            {% for error in form.ingredients.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {% if form.ingredients.label.text == 'Ingredients' %}
                <small class="form-text text-muted">Separate each entry with an empty line.</small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.instructions.label }} {{ form.instructions(class="form-control", style="height: 250px;") }}
            {% for error in form.instructions.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {% if form.instructions.label.text == 'Instructions' %}
                <small class="form-text text-muted">Separate each step with an empty line.</small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.image.label }} {{ form.image(class="form-control-file") }}
            {% for error in form.image.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group form-check">
            {{ form.keep_image(class="form-check-input") }} {{ form.keep_image.label(class="form-check-label") }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}
