<!-- index.html -->
{% extends "base.html" %}
{% block title %}
    Categories
{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <div class="container">
        <div class="category">
            <a href="/main_dish">
                <img class="category-image" src="/static/images/mainDish.jpg" alt="Main Dish">
            </a>
            <p>Main Dish</p>
        </div>
        <div class="category">
            <a href="/vegetables">
                <img class="category-image" src="/static/images/vegetables.jpg" alt="Vegetables">
            </a>
            <p>Vegetables</p>
        </div>
        <div class="category">
            <a href="/cocktail">
                <img class="category-image" src="/static/images/cocktail.jpg" alt="Cocktail">
            </a>
            <p>Cocktail</p>
        </div>
        <div class="category">
            <a href="/dessert">
                <img class="category-image" src="/static/images/dessert.jpg" alt="Dessert">
            </a>
            <p>Dessert</a>
        </div>
    </div>
{% endblock %}

