<!-- view_recipe.html -->
{% extends 'base.html' %}

{% block content %}
<div class="recipe-container">
    <div class="recipe-image">
        {% if recipe.image %}
            <img src="{{ url_for('static', filename='images/' + recipe.image) }}" alt="Recipe Image">
        {% else %}
            <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Recipe Image">
        {% endif %}
    </div>
    <div class="recipe-details">
        <div class="recipe-header">
            <h2>{{ recipe.title }}</h2>
        </div>
        <div class="recipe-content">
            <p><strong>Description:</strong> {{ recipe.description }}</p>
            <p><strong>Ingredients:</strong></p>
            <ul>
                {% for ingredient in recipe.ingredients.split('\n') %}
                    {% if ingredient.strip() %}
                        <li>{{ ingredient.strip() }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p><strong>Instructions:</strong></p>
            <ol>
                {% for instruction in recipe.instructions.split('\n') %}
                    {% if instruction.strip() %}
                        <li>{{ instruction.strip() }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="recipe-actions">
            <!-- FORM FOR LIKING THE RECIPE -->
            <form method="POST" action="{{ url_for('like_recipe', recipe_id=recipe.id) }}">
                <!-- LIKE BUTTON DISPLAYING THE LIKES COUNT -->
                <button type="submit" class="btn like-button"><i class="far fa-heart"></i> Like ({{ recipe.likes }})</button>
            </form>
            <!-- EDIT AND DELETE BUTTONS -->
            <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn teal-button">Edit</a>
            <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-delete">Delete</button>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
